name: Build

on:
  push:
    paths:
      - '.github/workflows/build.yml'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        run: echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          repository: Pipetto-crypto/winlator
          ref: winlator_bionic
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Set gradlew permissions
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: app/build/outputs/apk/debug/app-debug.apk
          name: winlator-bionic-${{ env.DATE }}
          tag_name: ${{ env.DATE }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: winlator-bionic-apk
          path: app/build/outputs/apk/debug/app-debug.apk
